absl-py==2.3.1
accelerate==1.10.1
addict==2.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
airportsdata==20250811
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyascii==0.3.3
anyio==4.12.1
asteroid-filterbanks==0.4.0
astor==0.8.1
async-timeout==5.0.1
attrs==26.1.0
audioread==3.0.1
av==16.1.0
azure-cognitiveservices-speech==1.45.0
azure-core==1.35.0
babel==2.17.0
blake3==1.0.5
blis==1.3.0
bnunicodenormalizer==0.1.7
cachetools==6.1.0
catalogue==2.0.10
cbor2==5.7.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.2
ci_sdr==0.0.2
click==8.3.1
cloudpathlib==0.21.1
cloudpickle==3.1.1
cmake==4.1.0
colorama==0.4.6
coloredlogs==15.0.1
compressed-tensors==0.10.2
comtypes==1.4.11
confection==0.1.5
ConfigArgParse==1.7.1
contourpy==1.3.2
coqpit-config==0.2.1
coqui-tts==0.27.0
coqui-tts-trainer==0.3.1
csvw==3.5.1
ctc_segmentation==1.7.4
ctranslate2==4.6.3
curated-tokenizers==0.0.9
curated-transformers==0.1.1
cycler==0.12.1
cymem==2.0.11
Cython==3.1.2
dataclasses-json==0.6.7
datasets==3.6.0
dateparser==1.1.8
davey==0.1.5
decorator==5.2.1
depyf==0.19.0
dill==0.3.8
discord.py==2.7.1
diskcache==5.6.3
Distance==0.1.3
distro==1.9.0
dlinfo==2.0.0
dnspython==2.7.0
docopt==0.6.2
duckduckgo_search==8.1.1
edge-tts==7.0.2
editdistance==0.8.1
einops==0.8.1
elevenlabs==2.8.0
email_validator==2.2.0
emoji==2.14.1
encodec==0.1.1
espeakng-loader==0.2.4
espnet==202412
espnet-model-zoo==0.1.7
espnet-tts-frontend==0.0.3
eunjeon==0.4.0
evaluate==0.4.4
exceptiongroup==1.3.1
faiss-cpu==1.11.0
fast_bss_eval==0.1.3
fastapi==0.116.1
fastapi-cli==0.0.8
fastapi-cloud-cli==0.1.5
faster-whisper==1.2.1
ffmpeg-python==0.2.0
filelock==3.20.3
flash_attn @ file:///D:/Project_jia_py3.10/flash_attn-2.7.4.post1%2Bcu128torch2.7.0cxx11abiFALSE-cp310-cp310-win_amd64.whl#sha256=b83f373b1d8a29d83c7ec53df83061db1b25e2d09e9465d575ffc7444502acf0
flatbuffers==25.12.19
fonttools==4.59.1
frozendict==2.4.6
frozenlist==1.8.0
fsspec==2026.1.0
future==1.0.0
g2p-en==2.1.0
g2pK==0.9.4
g2pkk==0.1.2
gguf==0.17.1
greenlet==3.2.4
grpcio==1.74.0
gruut==2.4.0
gruut-ipa==0.13.0
gruut_lang_de==2.0.1
gruut_lang_en==2.0.1
gruut_lang_es==2.0.1
gruut_lang_fr==2.0.2
gTTS==2.5.4
h11==0.16.0
h5py==3.14.0
hangul-romanize==0.1.0
hf-xet==1.2.0
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.1
huggingface_hub==1.3.7
humanfriendly==10.0
hydra-core==1.3.2
idna==3.13
importlib-metadata==4.13.0
inflect==7.5.0
interegular==0.3.3
isodate==0.7.2
jaconv==0.4.0
jamo==0.4.1
jieba==0.42.1
Jinja2==3.1.6
jiter==0.10.0
jiwer==4.0.0
joblib==1.5.1
jpype1==1.5.2
jsonlines==1.2.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
kaldiio==2.18.1
kiwisolver==1.4.9
ko_core_news_lg @ https://github.com/explosion/spacy-models/releases/download/ko_core_news_lg-3.8.0/ko_core_news_lg-3.8.0-py3-none-any.whl#sha256=f703b419511ebbbe2812728708fb2dac8a6ed767871a18e87e29ce9444ead3d3
kokoro==0.9.4
konlpy==0.6.0
langchain==0.3.27
langchain-community==0.3.27
langchain-core==0.3.74
langchain-mcp-adapters==0.1.9
langchain-ollama==0.3.6
langchain-text-splitters==0.3.9
langcodes==3.5.0
langgraph==0.6.4
langgraph-checkpoint==2.1.1
langgraph-prebuilt==0.6.4
langgraph-sdk==0.2.0
langsmith==0.4.13
language-tags==1.2.0
language_data==1.3.0
lark==1.2.2
lazy_loader==0.4
librosa==0.11.0
llama_cpp_python @ file:///D:/Project_jia_py3.10/llama_cpp_python-0.3.4-cp310-cp310-win_amd64.whl#sha256=626804da610821a5c2c8865126637a49e6e6e5de34ac4e9a74234dcad20939e7
llvmlite==0.43.0
lm-format-enforcer==0.10.12
loguru==0.7.3
lxml==6.0.0
marisa-trie==1.2.1
Markdown==3.8.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.10.5
mcp==1.12.4
mdurl==0.1.2
misaki==0.9.4
mistral_common==1.8.4
monotonic-alignment-search==0.2.0
more-itertools==10.7.0
mpmath==1.3.0
msgpack==1.1.1
msgspec==0.19.0
multidict==6.7.1
multiprocess==0.70.16
murmurhash==1.0.13
mypy_extensions==1.1.0
nest-asyncio==1.6.0
networkx==3.4.2
ninja==1.11.1.4
nltk==3.9.1
num2words==0.5.14
numba==0.60.0
numpy==2.0.0
ollama==0.5.1
omegaconf==2.3.0
onnxruntime==1.23.2
onnxruntime-gpu==1.20.1
openai==1.101.0
openai-harmony==0.0.4
opencv-python-headless==4.11.0.86
opt_einsum==3.4.0
orjson==3.11.1
ormsgpack==1.10.0
orpheus-cpp==0.0.3
orpheus-speech==0.1.0
outlines==0.1.11
outlines_core==0.2.10
packaging==26.0
pandas==2.3.2
partial-json-parser==0.2.1.1.post6
phonemizer-fork==3.3.2
pillow==11.3.0
platformdirs==4.3.8
pooch==1.8.2
preshed==3.0.10
primp==0.15.0
prometheus-fastapi-instrumentator==7.1.0
prometheus_client==0.22.1
prompt_toolkit==3.0.51
propcache==0.4.1
protobuf==6.33.5
psutil==7.0.0
py-cpuinfo==9.0.0
pyarrow==20.0.0
PyAudio==0.2.14
pybase64==1.4.2
pycountry==24.6.1
pycparser==3.0
pydantic==2.11.7
pydantic-extra-types==2.10.5
pydantic-settings==2.10.1
pydantic_core==2.33.2
pydub==0.25.1
Pygments==2.19.2
pygoruut==0.6.5
PyNaCl==1.5.0
pyopenjtalk==0.4.1
pyparsing==3.2.3
pypinyin==0.44.0
pypiwin32==223
pyreadline3==3.5.4
pysbd==0.3.4
python-crfsuite==0.9.11
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-json-logger==3.3.0
python-mecab-ko==1.3.7
python-mecab-ko-dic==2.1.1.post2
python-multipart==0.0.20
pyttsx3==2.98
pytz==2025.2
pywin32==311
pyworld==0.3.5
PyYAML==6.0.3
pyzmq==27.0.2
RapidFuzz==3.13.0
rdflib==7.1.4
realtimetts==0.5.7
referencing==0.36.2
regex==2024.11.6
requests==2.32.4
requests-toolbelt==1.0.0
resampy==0.4.3
rfc3986==1.5.0
rich==14.0.0
rich-toolkit==0.15.0
rignore==0.6.4
rpds-py==0.27.0
safetensors==0.5.3
scikit-learn==1.7.0
scipy==1.15.3
segments==2.3.0
sentence-transformers==5.0.0
sentencepiece==0.1.97
sentry-sdk==2.35.0
setproctitle==1.3.6
shellingham==1.5.4
simpleaudio==1.0.4
six==1.17.0
smart_open==7.3.0
snac==1.2.1
sniffio==1.3.1
sounddevice==0.5.3
soundfile==0.13.1
soxr==0.5.0.post1
spacy==3.8.7
spacy-curated-transformers==0.3.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.42
srsly==2.5.1
srt==3.5.3
sse-starlette==3.0.2
stanza==1.10.1
starlette==0.47.2
stream2sentence==0.3.1
sympy==1.14.0
tabulate==0.9.0
tenacity==9.1.2
tensorboard==2.20.0
tensorboard-data-server==0.7.2
thinc==8.3.6
threadpoolctl==3.6.0
tiktoken==0.11.0
tokenizers==0.22.2
tomli==2.2.1
tomlkit==0.15.0
torch==2.7.1+cu128
torch-complex==0.4.4
torchaudio==2.7.1+cu128
torchvision==0.22.1+cu128
tqdm==4.67.2
trainer==0.0.36
transformers==5.0.0
triton-windows==3.3.1.post19
typeguard==4.4.4
typer==0.16.0
typer-slim==0.21.1
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
Unidecode==1.4.0
uritemplate==4.2.0
urllib3==2.5.0
uvicorn==0.35.0
vllm==0.10.1.1
wasabi==1.1.3
watchdog==6.0.0
watchfiles==1.1.0
wcwidth==0.2.13
weasel==0.4.1
websockets==15.0.1
Werkzeug==3.1.3
win32_setctime==1.2.0
wrapt==1.17.2
xxhash==3.5.0
yarl==1.23.0
yt-dlp
zipp==3.23.0
zstandard==0.23.0
